.buttonPopOut {
  align-self: center;
  border-radius: 10px;
  background-color: #c9e265;
}
.avatarPopOut {
  align-self: center;
  border-radius: 10px;
  margin: 20px;
  height: 35%;
  width: 80%;
  background-color: #c9e265;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.avatarBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatarTiles {
  width: 17%;
  margin-top: 2%;
  border-radius: 50%;
  margin: 1.5%;
  transition: transform 0.2s;
}
.avatarTiles:hover {
  transform: scale(1.2);
}
.buttonPopOutBack {
  align-self: center;
  border-radius: 10px;
  background-color: #c9e265;
}
