.flatmate img {
  width: 80px;
  border-radius: 50%;
}
.flatmate {
  align-self: center;
}
.address {
  position: absolute;
  justify-content: center;
  align-self: center;
  align-items: center;
}
.address input {
  border: 0.5px solid #8f2d56;
  border-radius: 2px;
  padding: 2%;
  margin: 2px;
}
.dashboard {
  width: 75%;
  padding: 15px 15px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 10px 0px;
}
.flatDashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  padding: 15px 15px;
  border-radius: 2px;
  background-color: rgba(33, 131, 128, 0.6);
  margin: 10px 10px 0px 0px;
  box-shadow: 2.5px 2.5px rgba(120, 120, 120, 0.7);
}
.flatHousemates {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}
.flatDashboard h3 {
  margin: 0;
  padding: 0;
  text-align: center;
}
.dates {
  color: #8f2d56;
  font-size: 35px;
  text-align: center;
}
.flatKeyButton {
  background-color: #ffbc42;
  border: 0;
  border-radius: 3px;
  font-family: "Poiret One", cursive;
  font-size: 100%;
  width: 20%;
  align-self: center;
}
.form .flatKey {
  text-align: center;
  background-color: #79b4b2;
  border: 1px solid #79b4b2;
  border-radius: 2px;
}
