.flatmate img {
  width: 80px;
  border-radius: 50%;
}
.flatmate {
  align-self: center;
}
.address {
  position: absolute;
  justify-content: center;
  align-self: center;
  align-items: center;
}
.address input {
  border: 0.5px black solid;
  border-radius: 2px;
  padding: 2%;
  margin: 2px;
}
.dashboard {
  width: 75%;
  padding: 15px 15px;
  border-radius: 5px;
  background-color: rgba(82, 113, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 10px 0px;
}
.flatDashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  padding: 15px 15px;
  border-radius: 5px;
  background-color: rgba(92, 225, 230, 0.5);
  margin: 10px 10px 0px 0px;
}
.flatHousemates {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}
.flatDashboard h3 {
  margin: 0;
  padding: 0;
  text-align: center;
}
.dates {
  color: #ff5757;
  font-size: 35px;
  text-align: center;
}
