.landingPageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.landPageDivs {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ffbc42;
  background-color: #ffbc42;
  border-radius: 5px;
  text-align: center;
}
.landingPageBottom {
  margin: 10px;
  padding: 10px;
  width: 80%;
  border: 1px solid #ffbc42;
  background-color: #ffbc42;
  border-radius: 5px;
}
.video {
  margin: 10vh;
  width: 150vh;
  height: 75vh;
}
