.landingPageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.landPageDivs {
  height: 40vh;
  width: 220px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ff914d;
  background-color: #ff914d;
  border-radius: 5px;
  text-align: center;
}
.landingPageBottom {
  margin: 10px;
  padding: 10px;
  width: 1000px;
  border: 1px solid #ff914d;
  background-color: #ff914d;
  border-radius: 5px;
}
