#root {
  position: relative;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: "Poiret One", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Poiret One", cursive;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  background: #ffbc42;
  color: black;
}
.App {
  padding-bottom: 10vh;
}

button,
input {
  font-family: "Poiret One", cursive;
}
/* /////////////////// MAIN /////////////////// */
.pageBanner img,
.noCover img {
  width: 100%;
  height: 45vh;
  object-fit: cover;
}
.pageBanner {
  height: 25vh;
}
.noCover {
  height: 45;
}
.page {
  /* used in dashboard */
  /* used in profile */
  margin: 3%;
}

.container {
  /* used in dashboard */
  /* used in profile */
  /* used in signup */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}
.pageLeft {
  /* used in dashboard */
  /* used in profilePicture */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-right: 10px;
}
.pageRight {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: 10px;
}
.pageLeft .pageRight,
h4 {
  /* used in dashboard */
  /* used in profilePicture */
  font-size: 20px;
  margin-top: 2vh;
}
.popOut {
  /* Used in Avatar */
  /* used in editProfile */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
}
.popOutCenter {
  /* used in edit Profiles */
  /* used in avatar */
  align-self: center;
}

/* /////////////////// FORMS /////////////////// */
.form {
  /* used in editProfile */
  /* used in login */
  /* used in signup */
  background-color: #218380;
  width: 100%;
  border-radius: 5px;
  padding: 4%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
}

.LoginSignup {
  background-color: #218380;
  width: 35%;
  border-radius: 5px;
  padding: 4%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.form input {
  /* used in editProfile */
  /* used in login */
  /* used in signup */
  width: 30vh;
  height: 20px;
  padding: 10px;
  font-size: 2.2vh;
  margin: 10px;
  background-color: #73d2de;
  border: 2px solid #73d2de;
  border-radius: 2px;
  box-shadow: 2.5px 2.5px rgba(215, 215, 215, 0.7);
  color: #4a4848;
  font-family: "Poiret One", cursive;
}
.form input:focus {
  /* used in editProfile */
  /* used in login */
  /* used in signup */
  outline: none;
}
.form .submitButton {
  /* used in editProfile */
  /* used in login */
  /* used in signup */
  border-radius: 2px;
  height: 45px;
  width: 100px;
  background-color: #73d2de;
  border: 0px solid #73d2de;
  box-shadow: 2.5px 2.5px rgba(215, 215, 215, 0.7);
  /* color: whitesmoke; */
  font-size: 2vh;
}
.form .submitButton:hover {
  /* used in editProfile */
  /* used in signup */
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.7);
}
.form p {
  /* used in editProfile */
  /* used in login */
  /* used in signup */
  font-size: 3vh;
  margin: 5px;
}
.joinFlatButton:hover {
  background-color: rgba(187, 129, 153, 1);
  border-radius: 2px;
  color: black;
  border: 2px solid rgba(143, 45, 86, 0);
}
.joinFlatButton {
  border-radius: 2px;
  background-color: #8f2d56;
  margin: 10px;
  padding: 1.5vh;
  text-align: center;
  border: 2px solid #8f2d56;
  box-shadow: 2.5px 2.5px rgba(215, 215, 215, 0.7);
  font-size: 2vh;
  color: whitesmoke;
}
/* /////////////////// FORMS /////////////////// */

.centerMe {
  text-align: center;
}

h1,
h2,
p {
  text-align: center;
}
