.homeImage {
  height: 4vh;
  margin: 0px;
}
.navButtons {
  padding: 8px;
}
.navButtons:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.navButtons p {
  text-decoration: none;
}
