.profileEditButton {
  align-self: center;
  width: 20%;
  border-radius: 5px;
  background-color: #ffbc42;
  margin: 10px;
  padding: 1.5vh;
  text-align: center;
}
.profileEditButton:hover {
  background-color: rgba(255, 222, 89, 0.8);
  border-radius: 8px;
}

.profilePictureContainer {
  position: relative;
  width: 80%;
}

.profilePictureImage {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 2px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: 2px;
  transition: 2s ease;
  background-color: white;
}

.profilePictureContainer:hover .overlay {
  opacity: 0.9;
}

.text {
  color: black;
  font-size: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.profile {
  background-color: #ff914d;
  border-radius: 5px;
  padding: 5vh;
}
.profileText {
  font-size: 25px;
}
.profileSection {
  margin: 1vh 0;
}
