.profileEditButton {
  align-self: center;
  width: 20%;
  border-radius: 2px;
  background-color: #8f2d56;
  border: 1px solid #8f2d56;
  margin: 10px;
  padding: 1vh;
  text-align: center;
  box-shadow: 2.5px 2.5px rgba(120, 120, 120, 0.7);
  font-size: 2vh;
  color: whitesmoke;
}
.profileEditButton:hover {
  background-color: #a06b9a;
  border: 1px solid #a06b9a;
  border-radius: 2px;
}

.profilePictureContainer {
  position: relative;
  width: 80%;
  box-shadow: 2.5px 2.5px rgba(120, 120, 120, 0.7);
}

.profilePictureImage {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 2px;
  box-shadow: 2.5px 2.5px rgba(120, 120, 120, 0.7);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: 2px;
  transition: 2s ease;
  background-color: white;
}

.profilePictureContainer:hover .overlay {
  opacity: 0.9;
}

.text {
  color: black;
  font-size: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.profile {
  background-color: #8f2d56;
  border-radius: 5px;
  padding: 5vh;
}
.profileText {
  font-size: 25px;
}
.profileSection {
  margin: 1vh 0;
}
