.notebook {
  background-color: #fefff2;
  width: 600px;
  margin: 0 auto;
  padding: 0;
  border-radius: 10px;
}
.ShoppingList h4 {
  color: #ff5757;
  font-size: 42px;
  letter-spacing: -2px;
  text-align: center;
}
.list {
  color: #555;
  font-size: 22px;
  padding: 0 !important;
  border: 1px solid #dedede;
  border-radius: 10px;
}
.list li {
  height: 2vh;
  list-style: none;
  border-bottom: 1px dotted #ccc;
  text-indent: 35px;
  padding: 10px;
  text-transform: capitalize;
}
li:first-child {
  margin-top: 8vh;
}
.list li:hover {
  background-color: #f0f0f0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
