.avatarProfilePicture {
  height: 30vh;
  border-radius: 15px;
  margin-bottom: 10px;
}

.form .avatarInput {
  height: auto;
  font-weight: lighter;
  background-color: #73d2de;
  border: 0px #ffbc42 solid;
  width: auto;
}
.form .avatarInput:hover {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
}
