img {
  width: 100px;
}

.tasksDisplayPage {
  width: 75%;
  display: flex;
}

.taskDisplayHolder {
  width: 30vh;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}
.taskSelectPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}
.taskDisplayHolder:hover {
  background-color: #5ce1e6;
}
