.taskDisplayHolder img {
  width: 100px;
}

.tasksDisplayPage {
  width: 75%;
  display: flex;
}

.taskDisplayHolder {
  width: 30vh;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
  border-radius: 2px;
}
.taskSelectPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}
.taskDisplayHolder:hover {
  background-color: #5ce1e6;
}
.taskSelectHolder:hover {
  background-color: #5ce1e6;
}

.taskSelectDiv img {
  width: 30%;
}
.taskSelectDiv,
p,
h1 {
  padding: 0;
  margin: 0;
}

.taskSelectHolder {
  width: 20vh;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
  border-radius: 2px;
}
.taskButton {
  border-radius: 2px;
  background-color: #ffbc42;
  margin: 10px;
  padding: 1.5vh;
  text-align: center;
  border: 2px solid #ffbc42;
  box-shadow: 2.5px 2.5px rgba(120, 120, 120, 0.7);
}
.taskButton:hover {
  border-radius: 2px;
  background-color: rgba(255, 222, 89, 1);
  border: 2px solid #ffbc42;
}
.taskButtonEdit {
  border-radius: 2px;
  background-color: #ffbc42;
  margin: 10px;
  padding: 1.5vh;
  text-align: center;
  border: 2px solid #ffbc42;
  box-shadow: 2.5px 2.5px rgba(120, 120, 120, 0.7);
}
.taskButtonEdit:hover {
  border-radius: 2px;
  background-color: rgba(255, 222, 89, 1);
  border: 2px solid #ffbc42;
}
.taskBackButton {
  margin: 10px;
  text-align: center;
  background-color: inherit;
  border: 0;
  float: left;
}
.taskBackButton:focus {
  outline: none;
}
.taskBackButton img {
  width: 30px;
}
.taskBackButton:hover {
  transform: scale(1.8);
  transition: 0.5s;
}
.taskButtonsDiv {
  display: flex;
  justify-content: space-between;
}
.taskHeader {
  margin-bottom: 6vh;
  margin-top: 6vh;
}
