#root {
  position: relative;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: "Tenor Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Tenor Sans", sans-serif;
}

.App {
  padding-bottom: 10vh;
}

/* -------------NAVBAR------------- */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 3vh;
  background: #c9e265;
  color: black;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.navButtons {
  padding: 8px;
}
button {
  border-radius: 5px;
  background-color: #c9e265;
  margin: 10px;
}

.navImage {
  height: 2vh;
  padding: 6px;
}
.navButtons:hover,
.navImage:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.homeImage {
  height: 4vh;
  margin: 0px;
}
/* -------------NAVBAR------------- */

/* -------------FOOTER------------- */
.Footer {
  position: absolute;
  min-height: 5vh;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #c9e265;
  color: black;
  text-align: center;
}
.copyright {
  margin: 0px 0px 10px 0px;
}
.names {
  margin: 10px 0px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerLinks {
  color: black;
  margin: 0px 5px;
}
/* -------------FOOTER------------- */

/* -------------LANDING PAGE------------- */
.landingPageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.landPageDivs {
  height: 40vh;
  width: 220px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ff914d;
  background-color: #ff914d;
  border-radius: 5px;
  text-align: center;
}

.landingPageBottom {
  margin: 10px;
  padding: 10px;
  width: 1000px;
  border: 1px solid #ff914d;
  background-color: #ff914d;
  border-radius: 5px;
}
/* -------------LANDING PAGE------------- */

/* -------------DASHBOARD------------- */
.page {
  margin: 3%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pageLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-right: 10px;
}
.pageRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: 10px;
}
.Note {
  display: flex;
  align-items: center;
  font-family: "Amatic SC", cursive;
  font-size: 30px;
}
.Note button {
  margin: 10px;
}
/* -------------DASHBOARD------------- */
/* -------------NOTES------------- */
.newNote {
  border: 0px;
  border-bottom: 1px solid black;
}
.newNote:focus {
  outline: none;
}
textarea {
  font-family: "Amatic SC", cursive;
  font-size: 30px;
}
.newNoteSubmit {
  border-radius: 5px;
  background-color: #c9e265;
}
/* -------------NOTES------------- */
/* -------------SIGN UP------------- */

.form {
  background-color: #ff914d;
  border-radius: 5px;
  width: 50%;
  padding: 4%;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form input {
  width: 75%;
  height: 25px;
  padding: 10px;
  font-size: 20px;
  margin: 10px;
}
.form button {
  height: 45px;
  /* margin: 10px; */
  padding: 10px;
}
/* -------------SIGN UP------------- */
/* -------------PROFILE------------- */
.pageRight button {
  align-self: flex-end;
}
.pageLeft img {
  width: 80%;
  background-color: yellow;
  border-radius: 50%;
}
.pageLeft p {
  font-size: 65%;
  font-style: italic;
}
.submitButton {
  border-radius: 5px;
  background-color: #c9e265;
  margin: 10px;
}
/* -------------PROFILE------------- */
.form input {
  background-color: #5ce1e6;
  border: 2px solid #5ce1e6;
  border-radius: 2px;
}
.form input:focus {
  outline: none;
}
